<%- include("parts/header") %> 
  <link rel="stylesheet" href="css/editprofile.css">
  <title>WorkSpeak | Profile</title>
</head>
<body>
  <header>
    <div class="header-box">
      <a href="../views/viewprofile.ejs">
        <img src="/img/bosch.png" alt="BOSCH">
      </a>
      <form action="logout" method="get" class="signout">
        <button type="submit" class="signout-btn"><i class="ph-sign-out"></i></button>
      </form>
    </div>
  </header>
  <form class="profile-container" id="main" action="/save" method="post" enctype="multipart/form-data">
    <div class="img-container">
      <div id="divimg" class="imagem" onmouseenter="hoverImg()" onmouseleave="hoverImg()">
        <img id='img' src=<% if(getUser.Picture === null){ %>
          <%= "/img/user.png"  %>  
        <% } else{ %> 
          <%= "img/" + getUser.Picture %> 
        <% } %>
        alt="">  
        <input type="file" id="flImage" name="attfoto" accept="image/*">
        <div class="hover-img" id="hoverimg">
          <i class="ph-camera"></i>
        </div>
      </div>
      <button id="changebtn" class="change-btn" onclick="openPasswordModal()">Change password</button>
    </div>
    <div class="content">
      <div class="field-container">
        <div class="fields">
          <div class="fieldset">
            <p>Name</p>
            <input type="text" name="name" id="name" maxlength="50" value="<%= getUser.Name %>" required>
          </div>
          <div class="fieldset">
            <p>Role</p>
            <input type="text" name="role" id="role" maxlength="20" required value=<% if(getUser.Role === null){ %>
              <%= "Default" %>
            <% } else{ %>
              <%= getUser.Role %>
            <% } %>>
          </div>
          <div class="fieldset">
            <p>Sector</p>
            <select name="sector" id="sector" required>
              <% for(let i = 0; i < sectors.length; i++) {%> 
                <option value="<%= sectors[i].IDSector %>" <% if(sectors[i].IDSector == sect.IDSector) { %>
                  <%= "selected" %> 
                <% } %> ><%= sectors[i].Name %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="fieldset">
          <p>Description</p>
          <textarea name="description" id="description" cols="30" rows="10"><%= getUser.Description %></textarea>
        </div>
      </div>
      <div class="btn-container">
        <a href="/home" class="submit-btn cancel-btn">Cancel</a>
        <button type="submit" class="submit-btn">Save Changes</button>
      </div>
    </div>
  </form>
  <div class="changepassword-modal hidden" id="passwordModal">
    <form action="/changePassword" method="post">
      <div class="field-container">
        <div class="fieldset">
          <p>Old password</p>
          <input type="text" maxlength="50" name="oldpassword" id="oldpassword" required>
        </div>
        <div class="fieldset">
          <p>New password</p>
          <input type="text" maxlength="50" name="newpassword" id="newpassword" required>
        </div>
      </div>
      <button type="submit" class="submit-btn">Change</button>
    </form>
  </div>
  <script src="js/editprofile.js"></script>
  <script src="js/editphoto.js"></script>
  <script src="js/passwordModal.js"></script>
<%- include("parts/footer") %>

